*{
    margin:0px;
    padding:0px;
}
.wrapper{
    margin:5px 100px;
    
    
}
.header{
    background-color: darkcyan;
    height: 150px;
   
}
.main-nav{
    background-color: brown;
    height: 70px;
   
}
.content{
    background-color: chartreuse;
    min-height: 500px;
    padding: 10px 50px;
    text-align: justify;
    font-family: sans-serif;
    font-size: 15px;
}
.footer{
    background-color: grey;
    height: 70px;
}


