.header{
    background-color: aquamarine;
    height: 30px;
    border: solid blue 2px;

}
.container{
    border:solid black 3px;
    overflow: hidden;
}
.childcontainer{
    background-color: chocolate;
    border: solid black 2px;
    width: 70px;
    margin: 3px;
    float: left;
    margin: 10px;
    text-align: center;
    
}
.footer{background-color: darkcyan;
    height: 30px;
    border: solid red 2px;

}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container::after{
    content:"";
    display:block;
    clear: both;
    *zoom:1;
}